<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> <!-- Unicons by Iconscout : https://iconscout.com/unicons/explore/line  -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet-portofolio.css') }}">
</head>
<body>
  
  <!--=========================HEADER=========================-->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">@AntoineFrd</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
          <li class="nav__item">
            <a href="{{ url_for('home') }}" class="nav__link">
              <i class="uil uil-estate nav__icon"></i> Home
            </a>
          </li>
          <li class="nav__item">
            <a href="{{ url_for('home') }}" class="nav__link">
              <i class="uil uil-user nav__icon"></i> About
            </a>
          </li>
          <!--<li class="nav__item">
            <a href="#skills" class="nav__link">
              <i class="uil uil-file-alt nav__icon"></i> Skills
            </a>
          </li>-->
          <!--<li class="nav__item">
            <a href="#services" class="nav__link">
              <i class="uil uil-briefcase-alt nav__icon"></i> Services
            </a>
          </li>-->
          <li class="nav__item">
            <a href="{{ url_for('portfolio') }}" class="nav__link active-link">
              <i class="uil uil-scenery nav__icon"></i> Portfolio
            </a>
          </li>
          <li class="nav__item">
            <a href="{{ url_for('home') }}" class="nav__link">
              <i class="uil uil-message nav__icon"></i> Contactme
            </a>
          </li>
        </ul>
        <i class="uil uil-times nav__close" id="nav-close"></i>
      </div>

      <div class="nav_btns">
        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </div>
    </nav>
  </header>


  <main class="main">
    <!--=========================TITLE=========================-->
    <section class="title-section" id="page-title">
      <div class="title__data"> <!--title+description-->
        <h1 class="page__title">PORTFOLIO</h1>
        <p class="page__description">This is my Portfolio  </p>
      </div>
    </section>


    <!--=========================PROJETCS MENU=========================-->
    <section class="projects-menu section" id="menu">  
      <div class="projects-menu__container container" id="projects-menu">
        <ul class="projects__list grid">
          <li class="projects__item">
            <a href="#" class="projects__link active-link">All</a>
          </li>
          <li class="projects__item">
            <a href="#" class="projects__link">AI/Data</a>
          </li>
          <li class="projects__item">
            <a href="#" class="projects__link">Flutter</a>
          </li>
          <li class="projects__item">
            <a href="#" class="projects__link">Golf</a>
          </li>
        </ul>
      </div>
    </section>


    <!--=========================PROJECTS=========================-->
    <section class="projects section" id="projects">
      <div class="projects__container container grid">
        <div class="project show-project golf data" id="">
          <img src="https://source.unsplash.com/Z8XlmAj65iM" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project data" id="">
          <img src="https://source.unsplash.com/BfrQnKBulYQ" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project flutter" id="">
          <img src="https://source.unsplash.com/L0nipfx-Ry4" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project golf data" id="">
          <img src="https://source.unsplash.com/Yu6Z_Fia1Ls" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project" id="">
          <img src="https://source.unsplash.com/cqOZcjOOmRw" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project data" id="">
          <img src="https://source.unsplash.com/JjGXjESMxOY" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project flutter" id="">
          <img src="https://source.unsplash.com/Gll-v69L8iA" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project" id="">
          <img src="https://source.unsplash.com/TIMCZe9JghI" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project data" id="">
          <img src="https://source.unsplash.com/6EnTPvPPL6I" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project flutter" id="">
          <img src="https://source.unsplash.com/gvptKmonylk" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project golf" id="">
          <img src="https://source.unsplash.com/08Ipbe8GpWw" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project data" id="">
          <img src="https://source.unsplash.com/uFTRn_Ki5jM" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
        <div class="project show-project golf data" id="">
          <img src="https://source.unsplash.com/9C_W8jfUhTw" alt="" class="projects__img">
          <div class="project__description_layer">
            <h3 class="project__title">This is the project</h3>
            <p class="project__description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
               magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!--=========================FOOTER=========================-->
  <footer class="footer">
    <div class="footer__bg">
      <div class="footer__container container grid">
        <!--Title-->
        <div> 
          <h1 class="footer__title">Antoine</h1>
          <span class="footer__subtitle">Data scientist</span>
        </div>

        <!--Links-->
        <ul class="footer__links"> 
          <li>
            <a href="#home" class="footer__link">Home</a>
          </li>
          <li>
            <a href="#about" class="footer__link">About</a>
          </li>
          <li>
            <a href="#portfolio" class="footer__link">Portfolio</a>
          </li>
          <li>
            <a href="#contact" class="footer__link">Contactme</a>
          </li>
        </ul>

        <!--Socials-->
        <div class="footer__socials"> 
          <a href="#" target="_blank" class="footer__social">
            <i class="uil uil-facebook-f"></i>
          </a>
          <a href="#" target="_blank" class="footer__social">
            <i class="uil uil-instagram"></i>
          </a>
          <a href="#" target="_blank" class="footer__social">
            <i class="uil uil-twitter-alt"></i>
          </a>
        </div>
      </div>

      <!--Copyrights-->
      <p class="footer__copy">Made with 💙 by &#169; AntoineFrd - All right reserved</p> 
    </div>
  </footer>


  <!--=========================MAIN JS=========================-->
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>



</body>
</html>

